:root{
  --colorDeafult:#f5e33e;
  --whiteColor:#fff;
}
.footer{
  background-color: #000000fc;
  padding: 2rem;
  margin: 5px;
}
.copyRight > p{
  color: var(--whiteColor);
}
.social-networks > a{
  text-decoration: none;
}
.smallTnfo > p{
  color: var(--whiteColor);
}
.social-networks > a > i{
  width: 40px;
  height: 40px;
  background-color: var(--colorDeafult);
  color: #000;
  text-align: center;
  line-height: 40px;
  font-size: 1.5rem;
  border-radius: 50px;
  transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
}
.social-networks > a > i:hover{
  background-color: #000;
  color: var(--colorDeafult);
}
.text-footer{
  font-size: 1.3rem;
}
.text-footer-link{
  font-size: 0.9rem;
}
